<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<header>
    <nav th:replace="fragments :: navigation"></nav>
</header>

<form method="post" style="max-width:600px" th:object="${form}">

    <div class="form-group">
        <label th:for="schoolId">School</label>
        <select name="schoolId">
            <option th:each="school : *{schools}"
                    th:text="${school.name}"
                    th:value="${school.id}"></option>
        </select>
    </div>
    <input type="hidden" name="userId" th:value="*{user.id}" />

    <input type="submit" value="Add School" style="max-width:120px"/>
</form>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>