<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header class="container">
    <div class="row">
        <h1 th:text="${title}" class="col-sm-8">Default Title</h1>
        <nav th:replace="fragments :: navigation" class="col-sm-4 text-right"></nav>
    </div>
</header>

<ul>
    <li th:each="user : ${users}">
        <a th:href="'/admin/view/' + ${user.id}" th:text="${user.name}"></a>
    </li>
</ul>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>