<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header class="container">
    <div class="row">
        <h1 th:text="${title}" class="col-sm-8">Correct Admin Page</h1>
        <nav th:replace="fragments :: navigation" class="col-sm-4 text-right"></nav>
    </div>
</header>

<ul >
    <li><a href="admin/add">Add School</a></li>
    <li><a href="admin/remove">Remove School</a></li>
    <li><a href="admin/all-users">View Users</a></li>
</ul>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>