<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header class="container">
    <div class="row">
        <h1 th:text="${title}" class="col-sm-8">Default Title</h1>
        <nav th:replace="fragments :: navigation" class="col-sm-4 text-right"></nav>
    </div>
</header>

<p th:unless="${schools} and ${schools.size()}">No schools options avaiable.</p>

<form method="post">
<table class="table">

    <tr>
        <th></th>
        <th>Remove</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Gender</th>
        <th>Type</th>
        <th>Minimum GPA</th>
        <th>Minimum MAP Score</th>
        <th>Specialty</th>
        <th>Sports</th>
    </tr>

    <div>

       <!--  <label th:for="${school}" th:text="${school}"></label> -->
        <tr th:each="school : ${schools}">
            <td> <input type="checkbox" name="schoolIds" th:value="${school.id}" th:id="${school.id}"/> </td>
            <td th:for="${school.id}" th:text="${school.name}"></td>
            <td th:for="${school.id}" th:text="${school.address}"></td>
            <td th:for="${school.id}"> <a th:text="${school.website}" th:href="@{${school.website}}"></a></td>
            <td th:for="${school.id}" th:text="${school.phone}"></td>
            <td th:for="${school.id}" th:text="${school.gender.name}"></td>
            <td th:for="${school.id}" th:text="${school.type.name}"></td>
            <td th:for="${school.id}" th:text="${school.gpa.name}"></td>
            <td th:for="${school.id}" th:text="${school.map.name}"></td>
            <td th:for="${school.id}" th:text="${school.specialty.name}"></td>
            <td th:for="${school.id}">
                <ul th:each="sport : ${school.sports}">
                    <li th:text="${sport}"></li>
                </ul>
            </td>
        </tr>
    </div>
</table>

    <input class="form-control" type="submit" value="Remove School" />

</form>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>