<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header class="container">
    <div class="row">
        <h1 th:text="${title}" class="col-sm-8">Default Title</h1>
        <nav th:replace="fragments :: navigation" class="col-sm-4 text-right"></nav>
    </div>
</header>

<form method="post" style="max-width:600px" th:object="${form}">

    <div class="form-group">
        <label th:for="schoolId">School</label>
        <select name="schoolId">
            <option th:each="school : *{user.schools}"
                    th:text="${school.name}"
                    th:value="${school.id}"></option>
        </select>
    </div>
    <input type="hidden" name="userId" th:value="*{user.id}" />

    <input type="submit" value="Remove School" style="max-width:120px"/>
</form>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>