<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header class="container">
    <div class="row">
        <h1 th:text="${title}" class="col-sm-8">Default Title</h1>
        <nav th:replace="fragments :: navigation" class="col-sm-4 text-right"></nav>
    </div>
</header>

<a href="/user/new">Create Account</a> |
<a href="/admin/all-users">Users</a>

<form method="post" style="max-width:600px">
    <br>
    <p>Don't have an account? <a href="/user/new">Create one!</a></p>

    <div>
        <label th:for="name"> Username:</label>
        <input class="form-control" name="name" id="name" th:value="${name}"/>
        <span th:text="${missing_username_error}" class="error"></span>
        <span th:text="${invalid_username_error}" class="error"></span>
    </div>
    <br>
    <div>
        <label th:for="password"> Password:</label>
        <input class="form-control" name="password" id="password" type="password"/>
        <span th:text="${missing_password_error}" class="error"></span>
        <span th:text="${incorrect_password_error}" class="error"></span>
    </div>
    <br>
    <div>
        <input class="form-control" type="submit" value="Login" style="max-width:120px"/>
    </div>
</form>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>