<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Title</h1>
    <nav th:replace="fragments :: navigation"></nav>

    <br>

    <form method = "post">
        <div class="form-group">
            <label for="school_name">Name: </label>
            <input class="form-control" type="text" id="school_name" name="schoolName"/>

        </div>
        <hr>
        <div class="form-group">
            <label for="school_address">Address: </label>
            <input class="form-control" type="text" id="school_address" name="schoolAddress"/>

        </div>
        <hr>

        <div class="form-group">
            <label for="phone_number">Phone Number: </label>
            <input class="form-control" type="text" id="phone_number" name="schoolPhone"/>

        </div>
        <hr>

        <div class="form-group">
            <label for="school_type">Type: </label>
            <select class="form-control" id="school_type" name="schoolType">
                <option> </option>
                <option value="Public">Public</option>
                <option value="Private Religious">Private Religious</option>
                <option value="Private Independent">Private Independent</option>
            </select>

        </div>
        <hr>

        <div class="form-group">
            <label for="gpa">Minimum GPA Required: </label>
            <select class="form-control" id="gpa" name="schoolGpa">
                <option> </option>
                <option value="3.5 - 4.0">3.5 - 4.0</option>
                <option value="3.0 - 3.5">3.0 - 3.5</option>
                <option value="2.5 - 3.0">2.5 - 3.0 </option>
                <option value="Lower then 2.5">Lower than 2.5</option>
            </select>
        </div>
        <hr>

        <div class="form-group">
            <label for="map_score">Miminum MAP Score Required: </label>
            <select class="form-control" id="map_score" name="schoolMap">
                <option> </option>
                <option value="Proficient or Advanced">Proficient or Advanced</option>
                <option value="Basic">Basic </option>
                <option value="Below Basic">Below Basic</option>
            </select>

        </div>
        <hr>

        <div class="form-group">
            <label for="specialty">Specialty</label>
            <select class="form-control" id="specialty" name="schoolSpecialty">
                <option> </option>
                <option value="STEM">STEM (Science, Technology, Engineering, and Math)</option>
                <option value="Arts">Visual and Performing Arts</option>
                <option value="General">General</option>
            </select>

        </div>
        <hr>

        <div class="form-group">
            <span>Sports <i>(check all that apply)</i></span>
                    <br>
            <input type="checkbox" name="schoolSports" id="football" value="Football">
                    <label>Football</label>
                    <br>
                <input type="checkbox" name="schoolSports" id="volleyball" value="Volleyball">
                    <label>Volleyball</label>
                    <br>
            <input type="checkbox" name="schoolSports" id="baseball" value="Baseball">
                    <label>Baseball</label>
                    <br>
            <input type="checkbox" name="schoolSports" id="soccer" value="Soccer">
                    <label>Soccer</label>
                    <br>
            <input type="checkbox" name="schoolSports" id="basketball" value="Basketball">
                    <label>Basketball</label>
                    <br>
            <input type="checkbox" name="schoolSports" id="swimming" value="Swimming">
                    <label>Swimming</label>
                    <br>
            <input type="checkbox" name="schoolSports" id="wrestling" value="Wrestling">
                    <label>Wrestling</label>
                    <br>
            <input type="checkbox" name="schoolSports" id="cheerleading" value="Cheerleading">
                    <label>Cheerleading</label>
                    <br>
            <input type="checkbox" name="schoolSports" id="dance" value="Dance">
                    <label>Dance</label>
        </div>
        <hr>

        <input type="submit" value="Add School" />

    </form>

</body>
</html>