<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <br>

    <p th:unless="${schools} and ${schools.size()}">No schools meet your criteria.</p>
    <ul>
        <li th:each="school : ${schools}" th:text="${school}"></li>
    </ul>

    <ul>
        <li th:each="preference : ${preferences}" th:text="${preference}"></li>
    </ul>

    <table class="table">

        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Contact Info</th>
        </tr>

        <tr th:each="cheese : ${cheeses}">
            <td th:each="school : ${schools}" th:text="${school}"></td>
            <td th:text="${cheese.description}"></td>
            <td th:text="${cheese.category.name}"></td>
        </tr>

    </table>

</body>
</html>