<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header class="container">
    <div class="row">
        <h1 th:text="${title}" class="col-sm-8">Default Title</h1>
        <nav th:replace="fragments :: navigation" class="col-sm-4 text-right"></nav>
    </div>
</header>

    <br>

    <form method = "post" th:object="${school}">
        <div class="form-group">
            <label th:for="name">Name: </label>
            <input class="form-control" th:field="*{name}">
            <span th:errors="*{name}" class="error"></span>
        </div>
        <hr>
        <div class="form-group">
            <label th:for="address">Address: </label>
            <input class="form-control" th:field="*{address}"/>
            <span th:errors="*{address}" class="error"></span>
        </div>
        <hr>

        <div class="form-group">
            <label th:for="phone">Phone Number: </label>
            <input class="form-control" th:field="*{phone}"/>
            <span th:errors="*{phone}" class="error"></span>
        </div>
        <hr>
        <div class="form-group">
            <label th:for="website">Website: </label>
            <input class="form-control" th:field="*{website}"/>
            <span th:errors="*{website}" class="error"></span>
        </div>
        <hr>

        <div class="form-group">
            <label th:for="gender">Gender: </label>
            <select th:field="*{gender}" class="form-control">
                <option th:each="schoolGender : ${schoolGenders}"
                        th:text="${schoolGender.name}"
                        th:value="${schoolGender}"></option>
            </select>
            <span th:errors="*{type}" class="error"></span>
        </div>
        <hr>

        <div class="form-group">
            <label th:for="type">Type: </label>
            <select th:field="*{type}" class="form-control">
                <option th:each="schoolType : ${schoolTypes}"
                        th:text="${schoolType.name}"
                        th:value="${schoolType}"></option>
            </select>
            <span th:errors="*{type}" class="error"></span>
        </div>
        <hr>

        <div class="form-group">
            <label th:for="gpa">Minimum GPA Required: </label>
            <select class="form-control" th:field="*{gpa}">
                <option th:each="schoolGpa : ${schoolGpas}"
                        th:text="${schoolGpa.name}"
                        th:value="${schoolGpa}"> </option>
            </select>
            <span th:errors="*{gpa}" class="error"></span>
        </div>
        <hr>

        <div class="form-group">
            <label th:for="map">Minimum MAP Score Required: </label>
            <select class="form-control" th:field="*{map}">
                <option th:each="schoolMap : ${schoolMaps}"
                        th:text="${schoolMap.name}"
                        th:value="${schoolMap}"> </option>
            </select>
            <span th:errors="*{map}" class="error"></span>
        </div>
        <hr>

        <div class="form-group">
            <label th:for="specialty">Specialty</label>
            <select class="form-control" th:field="*{specialty}">
                <option th:each="schoolSpecialty : ${schoolSpecialties}"
                        th:text="${schoolSpecialty.name}"
                        th:value="${schoolSpecialty}"> </option>
            </select>
            <span th:errors="*{specialty}" class="error"></span>
        </div>
        <hr>

        <div class="form-group">
            <span>Sports <i>(check all that apply)</i></span>
                    <br>
            <span th:errors="*{sports}" class="error"></span>
                    <br>
            <input type="checkbox" name="sports" id="football" value="Football">
                <label>Football</label>
                    <br>
                <input type="checkbox" name="sports" id="volleyball" value="Volleyball">
                <label>Volleyball</label>
                    <br>
                <input type="checkbox" name="sports" id="baseball" value="Baseball">
                <label>Baseball</label>
                    <br>
                <input type="checkbox" name="sports" id="soccer" value="Soccer">
                <label>Soccer</label>
                    <br>
                <input type="checkbox" name="sports" id="basketball" value="Basketball">
                <label>Basketball</label>
                    <br>
                <input type="checkbox" name="sports" id="swimming" value="Swimming">
                <label>Swimming</label>
                    <br>
                <input type="checkbox" name="sports" id="wrestling" value="Wrestling">
                <label>Wrestling</label>
                    <br>
                <input type="checkbox" name="sports" id="cheerleading" value="Cheerleading">
                <label>Cheerleading</label>
                    <br>
                <input type="checkbox" name="sports" id="dance" value="Dance">
                <label>Dance</label>
                    <br>
                <input type="checkbox" name="sports" id="track" value="Dance">
                <label>Track</label>
        </div>
        <hr>

        <input class="form-control" type="submit" value="Add School" />

    </form>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>