<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <a href="/school/add">Add</a> |
    <a href="/school/remove">Remove</a>

    <p th:unless="${schools} and ${schools.size()}">No schools meet your criteria.</p>

    <table class="table">

        <tr>
            <!-- <th>Add to My Schools</th> -->
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Website</th>
            <th>Type</th>
            <th>Minimum GPA</th>
            <th>Minimum MAP Score</th>
            <th>Specialty</th>
            <th>Sports</th>
        </tr>

        <tr th:each="school : ${schools}">
           <!-- <td> <input type="checkbox" name="schoolIds" th:value="${school.id}" th:id="${school.id}"/> </td> -->
            <td th:text="${school.name}"></td>
            <td th:text="${school.address}"></td>
            <td th:text="${school.phone}"></td>
            <td> <a th:text="${school.website}" th:href="@{${school.website}}"></a></td>
            <td th:text="${school.type.name}"></td>
            <td th:text="${school.gpa.name}"></td>
            <td th:text="${school.map.name}"></td>
            <td th:text="${school.specialty.name}"></td>
            <td th:text="${school.sports}"> </td>
        </tr>

    </table>
    <!-- <input class="form-control" type="submit" value="Add to My Schools" /> -->

    <footer th:replace="fragments :: footer"></footer>

</body>

</html>